.layout, .footer {
    background: none !important;
}

.layout {
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.header {
    background: #DB5461 !important;
    color: #FFFBFA;
}

    .logo {
        color: #FFFBFA;
        display: inline-block;
        font-size: 1rem;
        font-weight: normal;
        text-transform: uppercase;
    }

    .menu {
        background: none !important;
        float: right;
        line-height: 64px !important;
    }

        .menu li {
            color: #FFFBFA !important;
            border: none !important;
            margin: 0 !important;
            top: 0 !important;
        }

        .action-launch:hover {
            background: #171738 !important;
        }

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 2rem;
    margin-top: 64px;
}

.footer {
    flex: 0;
}

.page-home {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    text-align: center;
}

    .home-title {
        font-size: 2rem;
    }

    .home-title sup {
        font-size: .6em;
        opacity: .5;
    }

    .home-description {

    }

.page-retrospective {
    display: flex;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.25rem;
}

    .page-retrospective .column:last-child {
        margin-right: 0;
    }

    .column-header {
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .column-header h3 {
        font-weight: bold;
    }

    .column-cards {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
    }

