.layout, .footer {
    background: none !important;
}

.layout {
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.header {
    background: #DB5461 !important;
    color: #FFFBFA;
}

    .logo {
        color: #FFFBFA;
        display: inline-block;
        font-size: 1rem;
        font-weight: normal;
        text-transform: uppercase;
    }

    .menu {
        background: none !important;
        float: right;
        line-height: 64px !important;
    }

        .menu li {
            color: #FFFBFA !important;
            border: none !important;
            margin: 0 !important;
            top: 0 !important;
        }

        .action-launch:hover {
            background: #171738 !important;
        }

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 2rem;
    margin-top: 64px;
}

.footer {
    flex: 0;
}

.page-home {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    text-align: center;
}

    .home-title {
        font-size: 2rem;
    }

    .home-title sup {
        font-size: .6em;
        opacity: .5;
    }

    .home-description {

    }

.page-retrospective {
    display: flex;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.25rem;
}

    .page-retrospective .column:last-child {
        margin-right: 0;
    }

    .column-header {
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .column-header h3 {
        font-weight: bold;
    }

    .column-cards {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
    }

@keyframes card-voting {
    0% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: -35px;
        opacity: 0;
    }
}

.vote-effect {
    animation: card-voting 400ms ease;
    animation-fill-mode: forwards;
}

.ant-card-actions > li > span:hover {
    color: #000000a8 !important;
    text-shadow: 0 0 0px black !important;
}

.ant-card-actions>li:not(:last-child) {
    border-right: none !important;
}

.ant-card-actions {
    background-color: rgba(255,255,255,0.1) !important;
    box-shadow: 0 -2px 20px rgba(0,0,0,0.08);
    border-top: 1px solid #fffbfa5e !important;
}
