body {
    @import url("https://fonts.googleapis.com/css?family=Indie+Flower");

    background: url("background.png") repeat;
    font-family: "Indie Flower", cursive;
    margin: 0;
    padding: 0;
}
